<!DOCTYPE html>
<html ng-app="sadlies">

<head>
  <meta charset="utf-8">
  <title>Sadlies</title>

  <!-- <link rel="shortcut icon" href="/imgs/favicon1.png" type="image/png"/> favicon will go here :) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/scripts/app.js"></script>

  <head>

    <body>
      <div ng-controller="SadliesController as sadliesCrtl">
        <div class="container">
          <h2>Sadlies</h2>
          <div ng-repeat="lies in sadliesCrtl.sadlies">
              <hr>
              <p>{{lies.created_at}}</p>
              <p>{{lies.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </body>

</html>
